#product {
	padding: 0 15px;
	margin-top: 20px;
}

	#product h1 {
		font-size: 20px;
		font-weight: bold;
	}

#product-head, #product-body, #comment, #comments-list {
	background: #FFF;
	border-radius: 3px;
	padding: 10px 0;
}

#product-img {
	text-align: center;
}

	#product-img img {
		width: 250px;
	}

#product-details h1, #product-body h3, #comment h3 {
	font-size: 18px;
	font-weight: bold;
}

#product-details ul li {
	display: block;
	list-style: none;
	margin-top: 10px;
}

	#product-details ul li span {
		font-weight: bold;
	}

#product-details ul {
	display: block;
}

#price-number strong {
	font-size: 25px;
	font-weight: bold;
	color: #fd475a;
}

#price, #status {
	font-size: 20px;
	font-weight: bold;
}

#status {
	font-weight: bold;
	color: #5cb85c;
}

#product-body, #comment, #comments-list {
	margin-top: 10px;
}

}

#product-body h3 {
	margin-bottom: 20px;
}

#comment button {
	background: #EB1F27;
	border: none;
}

	#comment button:hover {
		background: #C60A11;
		border: none;
	}

.comment-item ul li {
	list-style: none;
}

	.comment-item ul li:last-child {
		padding: 15px 0 5px 0;
		border-bottom: 1px dashed #333;
	}

.comment-item:last-child ul li:last-child {
	border: none;
}

#pagination ul {
	float: right;
	margin-top: 20px;
}

	#pagination ul li a.page-link {
		color: #333333;
	}

		#pagination ul li a.page-link:hover {
			background: #EB1F27;
			color: #FFF;
		}

	#pagination ul li.active a {
		background: #EB1F27;
		border-color: #dee2e6;
		color: #FFF;
	}

#DH {
	display: flex;
}

#DieuHuong a {
	display: inline-table;
	padding: 0 10px;
	margin-top: 20px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

	#DieuHuong a:hover {
		color: green;
	}

#order {
	display: flex;
	padding: 0;
	justify-items: stretch;
}

.btn-red {
	color: #fff;
	background: transparent linear-gradient(180deg,#fd475a 0%,#bf1e2d 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0 4px 6px #00000029;
	border-radius: 3px;
}

.btn-buy {
	margin-right: 6px;
	display: block;
	text-align: center;
	padding: 4px 4px;
	flex-grow: 2;
}

a, a:link, a:visited {
	text-decoration: none;
	color: #00483d;
}

	a:-webkit-any-link {
		color: -webkit-link;
		cursor: pointer;
	}

.btn-buy strong {
	display: block;
	color: #fff;
}

.btn-buy span {
	font-size: 11px;
	color: #fff;
}

.btn-orange {
	background: transparent linear-gradient(180deg,#ff990e 0%,#ff6801 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0 4px 6px #00000029;
	color: #fff;
}

.btn-icon {
	border-radius: 4px;
	padding: 5px 3px 5px 0;
	font-size: 22px;
	position: relative;
	width: 10px;
	max-width: 50px;
	min-width: 50px;
	width: 50px;
	flex-grow: 1;
}

label {
	cursor: default;
}
