#search-result{
	padding:10px;
	background:rgb(245,145,55);
	color:#FFF;
	margin-bottom:10px;
	border-radius:3px;
	font-size:14px;}
#search-result span{
	color:#fff;}	

#pagination ul{
	float:right;
	margin-top:20px;}
#pagination ul li a.page-link{
	color:#333333;}			
#pagination ul li a.page-link:hover{
	background:#EB1F27;
	color:#FFF;}
#pagination ul li.active a{
	background:#EB1F27;
	border-color:#dee2e6;
	color:#FFF;}		