@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Site/Shared/SiteLayout.cshtml";
}

<!--	Body	-->
<div id="body">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <nav>
                    <!--  Begin Top Menu  -->
                    @{
                        var partialTopMenu = await Html.PartialAsync("~/Views/Site/Shared/Menu.cshtml");
                    }
                    @partialTopMenu
                    <!--  End Top Menu-->
                </nav>
            </div>
        </div>
        <div class="row">
            <div id="main" class="col-lg-8 col-md-12 col-sm-12">
                <!--	Slider	-->
                @{
                    var partialSlider = await Html.PartialAsync("~/Views/Site/Shared/Slider.cshtml");
                }
                @partialSlider
                <!--	End Slider	-->
                <!--	Feature Product	-->
                <div class="products">
                    <h3>Sản phẩm nổi bật</h3>
                    <div class="product-list card-deck">
                        @foreach (var item in ViewBag.products_featured)
                        {
                            <div class="product-item card text-center">
                                <a href="/product/@item.Slug/@item.Id"><img src="~/images/@item.Image"></a>
                                <h4><a style="color: #111" href="/product/@item.Slug/@item.Id">@item.Name</a></h4>
                                <p>Giá Bán: <span>@item.Price đ</span></p>
                            </div>
                        }
                    </div>
                </div>
                <!--	End Feature Product	-->
                <!--	Latest Product	-->
                <div class="products">
                    <h3>Sản phẩm mới</h3>
                    <div class="product-list card-deck">
                        @foreach(var item in ViewBag.products) {
                            <div class="product-item card text-center">
                                <a href="/product/@item.Slug/@item.Id"><img src="~/images/@item.Image"></a>
                                <h4><a style="color:#111" href="/product/@item.Slug/@item.Id">@item.Name</a></h4>
                                <p>Giá Bán: <span>@item.Price đ</span></p>
                            </div>
                        }
                    </div>
                </div>
                <!--	End Latest Product	-->

            </div>

            @{
                var partialSideBar = await Html.PartialAsync("~/Views/Site/Shared/SideBar.cshtml");
            }
            @partialSideBar
        </div>
    </div>
</div>
<!--	End Body	-->
