@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Site/Shared/SiteLayout.cshtml";
}
<!--	Body	-->
<div id="body">
    <div class="container">
        <div class="row">
            <div id="main" class="col-lg-8 col-md-12 col-sm-12">
                <!--	Slider	-->
                @{
                    var partialSlider = await Html.PartialAsync("~/Views/Site/Shared/Slider.cshtml");
                }
                @partialSlider
                <!--	End Slider	-->
                <!--	List Product	-->
                <div class="products">
                    @{
                        string slug = "", title = "";
                        int qty = 0, catid = 0;
                        foreach (var i in Model)
                        {
                            slug = i.Cat.Slug;
                            title = i.Cat.Title;
                            qty = i.Cat.Products.Count;
                            catid = i.CatId;
                        }
                    }
                    <h2><a class="text-dark" style="font-size: 24px" href="~/category/@slug">@title (hiện có @qty sản phẩm)</a></h2>
                    <div class="row text-center">
                        @foreach (var product in Model)
                        {
                            <div class="product-list col-lg-4 col-md-12 mb-4">
                                <div class="product-item card text-center">
                                    <div class="card-body">
                                        <a href="#"><img src="~/images/@product.Image"></a>
                                        <h4><a href="#">@product.Name/a></h4>
                                        <p>Giá Bán: <span>@product.Price</span></p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!--	End List Product	-->
                @{
                    var PreviousPage = Model.PageNumber - 1;
                    var NextPage = Model.PageNumber + 1;
                    var step = 1;
                }
                <div id="pagination">
                    <ul class="pagination">
                        @if (Model.HasPreviousPage)
                        {
                            <li class="page-item"><a class="page-link" href="/category/@slug/@PreviousPage">Trang trước</a></li>
                        }
                        <li class="page-item"><a class="page-link" href="/category/@slug/1">1</a></li>  
                        @if (Model.PageNumber - step >2 && Model.PageNumber !=2)
                        {
                        <li class="page-item"><a class="page-link">...</a></li>
                        }
                        @for (int i = (Model.PageNumber == 1 ? 1 + step : (Model.PageNumber - step < 2 ? Model.PageNumber : Model.PageNumber - step)); i <= (Model.PageNumber == Model.PageCount ? Model.PageCount-1 : (Model.PageNumber + step>=Model.PageCount?Model.PageNumber:Model.PageNumber+step)); i = i + step)
                        {                            

                                <li class="page-item"><a class="page-link" href="/category/@slug/@i">@i</a></li>

                        }
                        @if (Model.PageNumber + step < Model.PageCount-1 && Model.PageNumber != Model.PageCount-1 )
                        {
                        <li class="page-item"><a class="page-link">...</a></li>
                        }
                        <li class="page-item"><a class="page-link" href="/category/@slug/@Model.PageCount">@Model.PageCount</a></li>

                        @if (Model.HasNextPage)
                        {
                            <li class="page-item"><a class="page-link" href="/category/@slug/@NextPage">Trang sau</a></li>
                        }
                    </ul>
                </div>
            </div>

            @{
                var partialSideBar = await Html.PartialAsync("~/Views/Site/Shared/SideBar.cshtml");
            }
            @partialSideBar
        </div>
    </div>
</div>
<!--	End Body	-->
