@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Site/Shared/SiteLayout.cshtml";
}

<!--	Body	-->
<div id="body">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <nav>
                    <!--  Begin Top Menu  -->
                    @{
                        var partialTopMenu = await Html.PartialAsync("~/Views/Site/Shared/TopMenu.cshtml");
                    }
                    @partialTopMenu
                    <!--  End Top Menu-->
                </nav>
            </div>
        </div>
        <div class="row">
            <div id="main" class="col-lg-8 col-md-12 col-sm-12">
                <!--	Slider	-->
                @{
                    var partialSlider = await Html.PartialAsync("~/Views/Site/Shared/Slider.cshtml");
                }
                @partialSlider
                <!--	End Slider	-->
                <!--	Order Success	-->
                <div id="order-success">
                    <div class="row">
                        <div id="order-success-img" class="col-lg-3 col-md-3 col-sm-12"></div>
                        <div id="order-success-txt" class="col-lg-9 col-md-9 col-sm-12">
                            <h3>bạn đã đặt hàng thành công !</h3>
                            <p>Vui lòng kiểm tra email để xem lại thông tin đơn hàng của mình.</p>
                        </div>
                    </div>
                </div>
                <!--	End Order Success	-->

            </div>

            @{
                var partialSideBar = await Html.PartialAsync("~/Views/Site/Shared/SideBar.cshtml");
            }
            @partialSideBar
        </div>
    </div>
</div>
<!--	End Body	-->
