@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Site/Shared/SiteLayout.cshtml";
}

<!--	Body	-->
<div id="body">
    <div class="container">
        <div class="row">
            <div id="main" class="col-lg-8 col-md-12 col-sm-12">
                <!--	Slider	-->
                @{
                    var partialSlider = await Html.PartialAsync("~/Views/Site/Shared/Slider.cshtml");
                }
                @partialSlider
                <!--	End Slider	-->
                <!--	List Product	-->
                <div class="products">
                    <div id="search-result">Kết quả tìm kiếm với sản phẩm <span>@ViewBag.keyword</span></div>
                    <div class="product-list card-deck">
                        @foreach (var item in ViewBag.products)
                        {
                            <div class="product-item card text-center">
                                <a href="/product/@item.Slug/@item.Id"><img src="~/images/@item.Image"></a>
                                <h4><a style="color: #111" href="/product/@item.Slug/@item.Id">@item.Name</a></h4>
                                <p>Giá Bán: <span>@item.Price đ</span></p>
                            </div>
                        }
                    </div>

                </div>
                <!--	End List Product	-->

                <div id="pagination">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Trang trước</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Trang sau</a></li>
                    </ul>
                </div>

            </div>

            @{
                var partialSideBar = await Html.PartialAsync("~/Views/Site/Shared/SideBar.cshtml");
            }
            @partialSideBar
        </div>
    </div>
</div>
<!--	End Body	-->
