<div id="menu" class="collapse navbar-collapse" style="background:#EB1F26">
    <ul>
        <li class="menu-item"><a style="color:#fff" href="/product">iPhone</a></li>
        <li class="menu-item"><a style="color:#fff" href="/product">Samsung</a></li>
        <li class="menu-item"><a style="color:#fff" href="/product">HTC</a></li>
        <li class="menu-item"><a style="color:#fff" href="/product">Nokia</a></li>
        <li class="menu-item"><a style="color:#fff" href="/product">Sony</a></li>
        <li class="menu-item"><a style="color:#fff" href="/product">Blackberry</a></li>
    </ul>
</div>